.box-footer{
    .container{
        width: 100%;
        display: flex;
        flex-direction: column;
        background-color: $secundary-background-color;
        text-decoration: none;
        font-weight: 500;
        font-size: 1em;
        line-height: 1.25em;
        letter-spacing: 0.03em; 
        list-style: none;
        padding: 60px 15px;
    }
}

/*footer-contact*/
.footer-contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .logo{
        font-family: 'Raleway';
        text-decoration: none;
        color: $primary-background-color;
        font-weight: 700;
        letter-spacing: 0.06em;  
        font-size: 24px;
        line-height:28px;
        padding-bottom: 28px;
        .logo--blue{
            color: $accent-color;
        }
    }
    .footer-contact__list{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 12px;
        .footer-contact__link{
            text-decoration: none;
        }
    }
}
.footer-contact__link--address{
    color:$primary-background-color;
    &:hover{
        color:$accent-color;
    }
}
.footer-contact__link--mail,
.footer-contact__link--phone{
    color:$color-text-secundary;
    &:hover{
        color:$accent-color;
    }
}

/*footer-icons*/
.footer-icons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    letter-spacing: 0.00042em;
    font-size: 14px;
    line-height: 16px;
    text-transform: uppercase;
    color: $primary-background-color;
    padding: 60px 0;
    .footer-icons--title{
        padding-bottom: 20px;
    }
    .footer-icons__list{
        display: flex;
        justify-content: center;
        gap: 10px;
        width: 206px;
    }
}
.icons__item--container{
    width: 44px;
    height: 44px;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 50%;
    fill: $primary-background-color;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    &:hover{
        background: $accent-color;
        fill: $primary-background-color;
    }
}

/*footer-subscribe*/
.footer-subscribe {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .footer-subscribe--title {
        color: $primary-background-color;
        text-transform: uppercase;
        font-weight: 700;
        font-size: 14px;
        line-height: 16px;
        letter-spacing: 0.03em;
    }
    .form-subscribe {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }
}

.form-subscribe--email {
    width: 450px;
    height: 50px;
    padding: 15px 16px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    color: $primary-background-color;
    background-color: $secundary-background-color;
    &:hover {
        border: 1px solid $primary-background-color;
    }
    &:focus {
        outline: transparent;
        border: 1px solid $accent-color;
    }
}

.form-subscribe--button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 50px;
    padding: 10px 28px 10px 43px;
    color: $primary-background-color;
    background-color: $accent-color;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border: 1px solid transparent;
    border-radius: 4px;
    font-weight: 700;
    font-size: 1em;
    line-height: 1.875em;
    letter-spacing: 0.06em;
    transition-property: background-color;
    transition-duration:$transition-time;
    transition-timing-function:$timing-function;
    &:hover {
        background-color: #188ce8;
        border: 1px solid $accent-color;
    }
    .form-subscribe--button--icon {
        margin-left: 10px;
    }
}

@media (min-width: 768px){
    .box-footer{
        .container{
            flex-direction: row;
            flex-wrap: wrap;
        }
    } 
    .footer-contact {
        width: 50%;
        text-align: center;
        float: left;
    }
    .footer-icons {
        width: 50%;
        text-align: center;
        justify-content: flex-start;
        padding: 0;
        float: right;
    }
    .footer-subscribe {
        text-align: center;
        margin-top: 60px;
    }
}

@media (min-width: 1600px){
    .box-footer{
        .container{
            display: flex;
            flex-direction: row;
            width: 100%;
            padding: 60px 215px;
        }
    } 
    .footer-contact {
        width:25%;
        flex-direction: column;
        align-items: flex-start;
        .logo{
            font-size: 26px;
            line-height: 31px;
        }
        .footer-contact__list{
            align-items: flex-start;
        }
    }
    .footer-icons {
        width: 25%;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
    }
    .footer-subscribe {
        width: 570px;
        flex-direction: column;
        margin-top: 0;
        gap: 20px;
        justify-content: flex-start;
        align-items: flex-start;
        .form-subscribe{
            flex-direction: row;
            align-items: flex-end;
            width: 100%;
            gap:0;
            .form-subscribe--email{
                width: 358px;
                height: 50px;
                margin-right: 12px;
            }
        }
    }
}