*{
    margin: 0;
    padding: 0;
    list-style:none;
    box-sizing: border-box;
}

$color-tex-primary: #212121;
$color-text-secundary: #757575;
$accent-color: #2196F3;
$background-color2: #1e8ce6;
$primary-background-color: #FFFFFF;
$secundary-background-color: #2F303A;
$color-icons: #AFB1B8;
$transition-time: 250ms;
$timing-function: cubic-bezier(0.4, 0, 0.2, 1);
$imagen-fondo: url(../Img/Teams.jpg);

/*transition-property: background-color;
transition-duration:$transition-time;
transition-timing-function:$timing-function;*/


.body{
    font-family: 'Roboto', sans-serif;
    color: $color-tex-primary;
    background-color: $primary-background-color;
    font-size: 16px;
    letter-spacing: 0.03em;
}
.text{
    color: $color-text-secundary;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
}
.container{
    margin: 0 auto;
    width: 1200px;
    display: flex;
}
section{
    width: 100%;
}

.line {
    border-top: 1px solid rgba(236, 236, 236, 1);
    height: 2px;
}