.main-banner{
    background: rgba(47, 48, 58, 0.4);
    background-image: $imagen-fondo;
    background-size:cover;
    background-position: center center;
    background-repeat: no-repeat;
    width: 100%;
    .container{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 118px 60px;
        letter-spacing: 0.06em;
        gap: 30px;
        .main-banner__title{
            font-weight: 900;
            font-size: 26px;
            line-height: 42px;
            text-align: center;
            text-transform: uppercase;
            color: $primary-background-color;
        }
        .btn__banner{
            cursor: pointer;
            color: $primary-background-color;
            background-color: $accent-color;
            padding: 10px 20px;
            border-radius: 4px;
            border:rgba(33, 150, 243, 1);
            font-weight: 700;
            font-size: 16px;
            line-height: 30px; 
        }
    }
}

/*consultas de medios bg*/
@media screen and (min-device-pixel-ratio: 2),
screen and (-webkit-min-device-pixel-ratio: 2), 
screen and (min-resolution: 192dpi), 
screen and (min-resolution: 2dppx) {
    .main-banner {
        background-image:url("../Img/Mobile/jpg/bg@2.jpg");
    }
}

/*Backdrop*/
.is-hidden{
    display: none;
}
.backdrop{
    position: absolute;
    width: 450px;
    height: 609px;
    background:$primary-background-color;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    opacity: 1;
    visibility: visible;
    transition:opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
    & .is-hidden{
        visibility: hidden;
        opacity: 0;
        pointer-events: none;
    }
}
.modal{
    padding: 40px;
    width: 450px;
    height: 609px;
}

/*button--close */
.button--close {
    position: absolute;
    top: 8px;
    right: 8px;
    width: 35px;
    height: 35px;
    border-radius: 25px;
    background: $primary-background-color;
    border: 1px solid rgba(0, 0, 0, 0.1);
    & .icon--close {
        padding: 5px 4px 4px 5px;
        fill: $color-tex-primary;
        display: flex;
        align-items: center;
        &:hover,
        &:focus {
            cursor: pointer;
            fill: $background-color2;
            transition-duration: 500ms;
            transform: scale(1.5);
        }
    }
}

/*Form*/
.form--title{
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    letter-spacing: 0.03em;
    color: $color-tex-primary;
    margin-bottom: 12px;
}
.form{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    .form-label{
        display: flex;
        flex-direction: column;
        .label--text{
            margin-bottom: 4px;
            width: 370px;
            height: 14px;
            display: flex;
            justify-content: flex-start;
            font-weight: 400;
            font-size: 12px;
            line-height: 14px;
            letter-spacing: 0.01em;
            color: $color-text-secundary;
        }
        .label--input{
            cursor: pointer;
            padding-left: 40px;
            margin-bottom: 10px;
            width: 370px;
            height: 40px;
            border: 1px solid rgba(33, 33, 33, 0.2);
            border-radius: 4px;
            color:rgba(117, 117, 117, 0.5);
            &:focus{
                border: 1px solid $accent-color;
                outline: transparent;
            }
        }
        .label--icon{
            position: relative;
            bottom: 38px;
            left: 15px;
            fill: $color-tex-primary;
        }
        .form-label:focus-within .label--icon {
            fill: $accent-color;
        }
        textarea#comments {
            padding: 12px 16px;
            font-weight: 400;
            font-size: 12px;
            line-height: 1.16;
            color: rgba(117, 117, 117, 0.5);
            resize: none;
            width: 370px;
            height: 120px;
        }
    }
    .form-label__check{
        display: flex;
        align-items: center;
        width: 423px;
        height: 24px;
        gap: 8px;
        .check--input{
            -webkit-appearance: none;
            -moz-appearance: none;
            appearance: none;
        }
        .check--icon{
            background: $primary-background-color;
            box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
            border-radius: 4px;
            border: 1px solid rgba(33, 33, 33, 1);
            transition-duration:$transition-time;
            transition-timing-function:$timing-function;
        }
        .check--input:checked + .check--icon{
            background-color: $background-color2;
            border: $background-color2;
        }
        .form--policy{
            font-weight: 400;
            font-size: 12px;
            line-height: 14px;
            letter-spacing: 0.03em;
            color: $color-text-secundary;
        }
    }
    .button--send{
        margin-top: 10px;
        width: 200px;
        height: 50px;
        cursor: pointer;
        background: #188CE8;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
        border-radius: 4px;
        border: none;
        font-weight: 700;
        font-size: 16px;
        line-height: 30px;
        letter-spacing: 0.06em;
        color: $primary-background-color;
        &:hover,
        &:focus {
            background-color: $accent-color;
        }
    }
}

@media (min-width: 768px) {
    .main-banner{
        .container{
            padding: 118px 204px;
            background-image:url("../Img/Tablet/jpg/bg.jpg")
        }
    }

/*consultas de medios bg*/
        @media screen and (min-device-pixel-ratio: 2) and (min-width: 768px),
        screen and (-webkit-min-device-pixel-ratio: 2) and (min-width: 768px),
        screen and (min-resolution: 192dpi) and (min-width: 768px),
        screen and (min-resolution: 2dppx) and (min-width: 768px) {
            .main-banner {
                background-image:url("../Img/Tablet/jpg/bg@2.jpg");
            }
        }
}

@media (min-width: 1600px){
    .main-banner{
        .container{
            padding: 200px 452px;
            background-image:url("../Img/Teams.jpg");
            .main-banner__title{
                font-size: 44px;
                line-height: 60px;
            }
        }
    }

    /*Backdrop*/
    .backdrop{
        width: 528px;
        height: 581px;
    }
    .modal{
        width: 528px;
        height: 581px;
    }

    /*Form*/
    .form{
        .form-label{
            width: 448px;
            .label--text{
                width: 448px;
            }
            .label--input{
                width: 448px;
            }
            textarea#comments {
                width: 448px;
            }
        }
    }

    /*consultas de medios bg*/
    @media screen and (min-device-pixel-ratio: 2) and (min-width: 1200px),
    screen and (-webkit-min-device-pixel-ratio: 2) and (min-width: 1200px),
    screen and (min-resolution: 192dpi) and (min-width: 1200px),
    screen and (min-resolution: 2dppx) and (min-width: 1200px) {
        .main-banner {
            background-image:url("../Img/bg@2.jpg");
        }
    }
}