.main-clients{
  padding: 59px 0px 159px 0px;
  display: flex;
  flex-direction: column;
  .main-clients__list{
    margin-top: 44.02px;
    width: 1200px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
  }
}

.main-clients__item{
  width: 170px;
  height: 81px;
  border: 1px solid $color-icons;
  border-radius: 4px;
  fill: $color-icons;
  display: flex;
  align-content: center;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  &:hover{
    border: 1px solid $accent-color;
    fill: $accent-color;
  }
}